################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/users-backend/.vs/users-backend
/users-backend/.vs
/users-backend/CrudAPI/obj/Debug/net8.0
